scipy==1.6.1
opencv_python==4.4.0.42
imageio==2.9.0
numpy==1.19.2
googledrivedownloader==0.4
pandas==1.2.3
Keras==2.4.3
tensorflow==2.3.0
h5py==2.10.0
matplotlib==3.3.4
tqdm==4.59.0
beautifulsoup4==4.9.3
Pillow==8.3.0
scikit_learn==0.24.2
